---
layout: default
title: Stage of Nick Niles
talk: Teaching An Old Dog New Tricks
---
<audio id="audioElement" src="assets/daddy.m4a"></audio>

{% include navbar.html %}
{% include talkbar.html %}

<div class="row" id="panels">
{% include panel.html name='server' text='launch' %}
{% include panel.html name='connection' text='select' %}
{% include panel.html name='broadcast' text='start' %}
</div>
<!-- <div id="spotlight"></div> -->
<!-- <div class="row" id="msg-center"> -->
<!-- {% for post in site.data.messages %}
{% include messagebox.html %}
{% endfor %} -->
</div>
{% include devices.html %}