<div id="devices" class="hide">
	<div id="screen1">
		<h3>How will you stream?</h3>
		<ul class="menu vertical medium-horizontal text-center">
			<li class="laptop-select hide">{% include laptop.svg %}<br>Laptop</li>
			<li class="box-select hide">{% include box.svg %}<br>VR Box</li>
			<li class="mobile-select hide">{% include mobile.svg %}<br>Mobile</li>
		</ul>
	</div>
		<div id="screen2" class="hide">
		<h3>Which VR Box?</h3>
		<ul class="menu vertical medium-horizontal text-center">
			<li class="box1-select hide">{% include box.svg %}<br>Nietzsche</li>
			<li class="box2-select hide">{% include box.svg %}<br>Kant</li>
			<li class="box3-select hide">{% include box.svg %}<br>Heidegger</li>
		</ul>
	</div>
</div>