<div id="devices" class="hide">
	<div id="screen1">
		<h3>How will you stream?</h3>
		<ul class="menu vertical medium-horizontal text-center">
			<li class="laptop-select hide"><a href="#">{% include laptop.svg %}</a><br>Laptop</li>
			<li class="box-select hide"><a href="#">{% include box.svg %}</a><br>VR Box</li>
			<li class="mobile-select hide"><a href="#">{% include mobile.svg %}</a><br>Mobile</li>
		</ul>
	</div>
		<div id="screen2" class="hide">
		<h3>Which VR Box?</h3>
		<ul class="menu vertical medium-horizontal text-center">
			<li class="box1-select hide"><a href="#">{% include box.svg %}</a><br>Nietzsche</li>
			<li class="box2-select hide"><a href="#">{% include box.svg %}</a><br>Kant</li>
			<li class="box3-select hide"><a href="#">{% include box.svg %}</a><br>Heidegger</li>
		</ul>
	</div>
</div>