<div class="row faq-link"><div class="small-12 columns">
<ul class="accordion" data-accordion data-allow-all-closed="true">
  <li class="accordion-item" data-accordion-item >
    <a href="#" class="accordion-title button hollow btn-yellow btn-hover-purple expanded">{{include.text}}</a>
    <div class="accordion-content" data-tab-content>
      <p class="lead">Answer: Here will be a very eloquent, clear, concise and complete answer to the question. It may be a long answer. But it may also be short. </p>
    </div>
  </li>
</ul>
</div>
</div>