<p class="lead">This is the control panel for <b>"Stage of Nick Niles."</b> Your first Talk doesn't start for 3 more days. Please come back <strong>90 minutes</strong> before the Talk start to launch your unique server.</p>
<hr>

<div class="row collapsed">
	<div class="medium-6 columns collapsed">
	<p class="lead"><strong>Add an alert to your calendar:</strong></p>
	<a href="#" class="msg-action button tiny btn-light-blue expanded">{% include calendar.svg %} .ics file</a>
	</div>
	<div class="medium-6 columns collapsed">
	<p class="lead"><strong>Set up an SMS reminder:</strong></p>	

	<a href="#" class="msg-action button tiny btn-light-blue expanded">{% include phone.svg %} SMS reminder</a>
</div>
</div>
<hr>
{% include faqlink.html link="faq1" text="Q: Why must i launch a server?" %}
