<p class="lead">Welcome to your venue control panel. Your first Talk doesn't start for 3 more days. Please come back <strong>90 minutes</strong> before the Talk start to launch your unique server.</p>


<div class="row collapsed">
	<div class="medium-6 columns collapsed"><a href="#" class="msg-action button tiny btn-light-blue expanded">{% include calendar.svg %} .ics file</a>
	<p class="lead">Add an alert to your calendar.</p></div>
	<div class="medium-6 columns collapsed"><a href="#" class="msg-action button tiny btn-light-blue expanded">{% include phone.svg %} SMS reminder</a>
<p class="lead">We'll send you an alert when it's time to launch your server.
	</p>	</div>
</div>
{% include faqlink.html link="faq1" text="Q: Why must i launch a server?" %}
