<p class="lead">Welcome to your venue control panel. Your first talk doesn't start for 3 more days. Please come back 90 minutes before the Talk start to launch your unique server.</p>


<div class="row collapsed">
	<div class="medium-6 columns collapsed"><a href="#" class="button small btn-light-blue expanded">{% include calendar.svg %} Download .ics file</a></div>
	<div class="medium-6 columns collapsed"><a href="#" class="button small btn-light-blue expanded">{% include phone.svg %} Get SMS reminder</a></div>
</div>
{% include faqlink.html link="faq1" text="Q: Why must i launch a server?" %}
<p class="lead">To receive an automated SMS when it's time to lauch your server, please provide your mobile phone number:</p>

  <div class="row">

<div>
<form>
<div class="input-group">
  <span class="input-group-label">Mobile:</span>
  <input class="input-group-field" type="tel" placeholder="000-000-00-00" style="height: 42px">
  <div class="input-group-button">
    <input type="submit" class="button" id="phone-save" value="Save">
  </div>
</div>

</form>
</div>

  </div>